:root {
  --container-width: 1230px;
  --container-padding: 15px;

  --font-main: Montserrat, Arial, sans-serif;
  //--font-main: Montserrat, Arial, sans-serif;

  --dark-color: #191919FF;
  --light-color: #cecece;
  --bg-color: #f4e9e9;
  --text-color: #292B2A;

  --transition: all .4s ease-in-out;
}