@import "./base/mixins";
@import "./base/fonts";
@import "./base/reset";
@import "./base/vars";
@import "./base/settings";
@import "./base/sprite";

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

@import "./blocks/*.scss";
