
.intro {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
  }
}

.swiper {
  margin-top: 30px;
  width: 80%;

  &-slide {
    border: 1px solid var(--gray-color);
  }
}

